/* Login Page CSS */

.loginpage{
    background-image: url("../assets/love-2-people.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.loginpage > h1{
    color: palevioletred;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin: 0;
    padding-top: 30px;
    font-style: italic;
}

.login-container{
    font-family: 'Montserrat', sans-serif;
    margin-top: 20vh;
    margin-left: 50px;
    height: 500px;
    width: 500px;
    background-color: #e4e4e4;
    border-radius: 10px;
    opacity: 0.8;
}

.login-container > h2{
    padding-top: 30px;
    font-size: 34px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: lightcoral;
}

.login-container > h3{
    text-align: center;
    padding: 5px;
}

.login-container > div {
    display: flex;
    flex-flow: column nowrap;
    margin: 30px;
    justify-content: center;
    align-items: center;
}

.login-container > div > input {
    margin: 10px;
    border: 0;
    border-radius: 5px;
    height: 50px;
    width: 300px;
}

.login-container > div > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 300px;
}

.login-container > div button {
    width: 100px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1;
    border-width: 1px;
    border-style: solid;
    background-color: #fafafa;
    border-color: lightcoral;
    color: lightcoral;
    padding: 8px 20px;
    cursor: pointer;
}

.login-container > div button:hover{
    background-color: lightcoral;
    border-color: #fafafa;
    color: #fafafa; 
}

.login-container > p{
    text-align: center;
    font-size: 18px;
    color: red;
}

.login-container > a > p{
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    color: cornflowerblue;
    cursor: pointer;
}

.targGender{
    min-width: 450px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.warning{
    font-size: 14px;
}

/* Main Page */

.hero{
    font-family: 'Montserrat', sans-serif;
}

.hero > nav{
    display: flex;
    justify-content: space-between;
    background-color: lightcoral;
    padding: 15px 100px;
    color: #fafafa
}

.hero > nav > ul{
    display: flex;
}

.hero > nav > ul > li{
    margin-right: 15px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.hero > nav > ul > li:hover{
    background-color: #fafafa;
    color: lightsalmon;
}

.hero > nav > ul > li:last-child{
    margin-right: 0px;
    cursor: pointer;
}

.hero > hr{
    background-color: none;
    margin: 0;
    border-bottom: 0; 
    border-color: black;   
    opacity: 0.1;
}

.hero > div {
    background-color: lightcoral;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero > div button {
    width: 150px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1;
    border-width: 1px;
    border-style: solid;
    background-color: #fafafa;
    border-color: lightcoral;
    color: rgb(210, 108, 108);
    padding: 8px 20px;
    cursor: pointer;
}

.hero > div button:hover{
    background-color: lightcoral;
    border-color: #fafafa;
    color: #fafafa; 
}

body{
    background-color: #1A1E21;
}

/* Utilities */