/* Login Page CSS */

.loginpage{
    background-image: url("../assets/love-2-people.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.loginpage > h1{
    color: palevioletred;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin: 0;
    padding-top: 30px;
    font-style: italic;
}

.login-container{
    font-family: 'Montserrat', sans-serif;
    margin-top: 2vh;
    margin-left: 50px;
    min-height: 500px;
    width: 500px;
    background-color: #e4e4e4;
    border-radius: 10px;
    opacity: 0.8;
}

.login-container > h2{
    padding-top: 30px;
    font-size: 34px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: lightcoral;
}

.login-container > h3{
    text-align: center;
    padding: 5px;
}

.login-container > div > form {
    display: flex;
    flex-flow: column nowrap;
    margin: 30px;
    justify-content: center;
    align-items: center;
}

.login-container > div > form > input {
    margin: 10px;
    border: 0;
    border-radius: 5px;
    height: 50px;
    width: 300px;
}

.login-container > div > form > select {
  margin: 10px;
  border: 0;
  border-radius: 5px;
  height: 50px;
  width: 300px;
}

.edit-profile{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

.edit-profile > input {
  margin: 10px;
  border: 0;
  border-radius: 5px;
  height: 50px;
  width: 300px;
}

.edit-profile > select {
  margin: 10px;
  border: 0;
  border-radius: 5px;
  height: 50px;
  width: 300px;
}

.edit-profile > div * {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 2px;
  width: 500px;
}

.login-container > div > form > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 300px;
}

.login-container > div button {
    width: 100px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1;
    border-width: 1px;
    border-style: solid;
    background-color: #fafafa;
    border-color: lightcoral;
    color: lightcoral;
    padding: 8px 20px;
    cursor: pointer;
}

.login-container > div button:hover{
    background-color: lightcoral;
    border-color: #fafafa;
    color: #fafafa; 
}

.edit-profile button {
  width: 100px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1;
  border-width: 1px;
  border-style: solid;
  background-color: #fafafa;
  border-color: lightcoral;
  color: lightcoral;
  padding: 8px 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.edit-profile button:hover{
  background-color: lightcoral;
  border-color: #fafafa;
  color: #fafafa; 
}

.login-container > p{
    text-align: center;
    font-size: 18px;
    color: red;
}

.login-container > a > p{
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    color: cornflowerblue;
    cursor: pointer;
}

.targGender{
    min-width: 450px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.warning{
    font-size: 14px;
}

/* Main Page */

.hero{
    font-family: 'Montserrat', sans-serif;
}

.hero2 {
  font-family: 'Montserrat', sans-serif;
  background-color: lightcoral;
}

 nav{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    background-color: lightcoral;
    padding: 15px 100px;
    color: #fafafa
}

 nav > ul{
    display: flex;
}

nav a{
    text-decoration: none;
}
 nav > ul > a > li{
    margin-right: 15px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    color : white;
}

 nav > ul > a > li:hover{
    background-color: #fafafa;
    color: lightsalmon;
}

 nav > ul > a > li:last-child{
    margin-right: 0px;
    cursor: pointer;
}

.hero > hr{
    background-color: none;
    margin: 0;
    border-bottom: 0; 
    border-color: black;   
    opacity: 0.1;
}

.hero > div {
    background-color: lightcoral;
    min-height: 50vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.hero > div > div {
  display: grid;
  place-items: center;
  width: 100%;
  overflow-x:hidden;
  overflow-y:auto;
}

.hero > div > textarea{
  width: 500px;
}

.hero > div button {
    width: 150px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1;
    border-width: 1px;
    border-style: solid;
    background-color: #fafafa;
    border-color: lightcoral;
    color: rgb(210, 108, 108);
    padding: 8px 20px;
    cursor: pointer;
}

.hero > div button:hover{
    background-color: lightcoral;
    border-color: #fafafa;
    color: #fafafa; 
}

body{
    background-color: #1A1E21;
}

#input{
  display: flex;
  flex-flow: row;
  margin: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

#input > textarea{
  width: 50%;
  margin-right: 10px;
}

.none::-webkit-resizer {
    display: none;
}

#input > button{
  margin-bottom: 10px;
}

/* Matches */

.main-nav > hr{
    background-color: none;
    margin: 0;
    border-bottom: 0; 
    border-color: black;   
    opacity: 0.1;
}


.card-container {
    display:flex;
    flex-flow: row wrap;
    min-height: 600px;
    min-width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
  }
  .card-border {
    height: 369px;
    width: 290px;
    background: transparent;
    border-radius: 10px;
  }
  .card-border:hover {
    border: 1px solid #fff;
  }
  .card {
    height: 379px;
    width: 300px;
    background: #808080;
    border-radius: 15px;
    transition: background 0.8s;
    overflow: hidden;
    background: #000;
    box-shadow: 0 70px 63px -60px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 20px;
  }
  .card0 {
    background: url("../assets/IMG_7133.jpg") center center no-repeat;
    background-size: 300px;
  }
  .card0:hover {
    background: url("../assets/IMG_7133.jpg") left center no-repeat;
    background-size: 600px;
  }
  .card0:hover h2 {
    opacity: 1;
  }

  .card0:hover p {
    opacity: 1;
  }
  
  .card0:hover .fa {
    opacity: 1;
  }

  .main-container{
    display: flex;
    flex-flow: row wrap;
  }

  .main-container h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
  }
  .fa {
    opacity: 0;
    transition: opacity 1s;
    cursor: pointer;
  }
  .icons {
    position: absolute;
    fill: #fff;
    color: #fff;
    height: 130px;
    top: 226px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .main-nav h2 {
    padding-top: 30px;
    font-size: 34px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: lightcoral;
  }

  .edit-profile h2 {
    padding-top: 30px;
    font-size: 34px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #fafafa;
  }

  /* Chat containers */
.container-chat {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  width: 40%;
}

.darker-chat {
  border-color: #ccc;
  background-color: #ddd;
}

.container-chat::after {
  content: "";
  clear: both;
  display: table;
}

.container-chat img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container-chat img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: black !important;
  }
  nav{
    display: none;
  }
  #ham-menu{
    display: inline-block !important;
    position: fixed;
    right: 0;
  }
  .hero > div {
    min-height: 50vh;
  }
}